<div class="container">
	<dix class="row">
		<div class="col-xs-9 col-xs-offset-1">
			<h2>商品一覧</h2>
            <p class="text-right">
	            <%= link_to new_staffs_product_path(@product), data: {"turbolinks" => false} do %>
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<% end %>
		    </p>

			<table class="table">
				<thead>
					<tr>
						<th>商品ID</th>
						<th>商品名</th>
						<th>税抜価格</th>
						<th>ジャンル</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td><%= product.id %></td>
						<td><%= link_to product.name, staffs_product_path(product.id), class: "product_#{product.id}" %></td>
						<td><%= product.price %></td>
						<td><%= product.genre.category_name %></td>
						<td>
						    <% if product.sale_status == 1 %> 
							<p>販売中</p>
							<% else %>
							<p>売切れ</p>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</dix>
</div>