<div class="container">
	<%= render 'layouts/errors', model: @product %>

	<dix class="row">
		<div class="col-xs-5">

			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<span class="pull-left" style="background-color: #C0C0C0; font-size: 2.0em; margin-bottom: 40px;">
						商品新規登録
					</span>
				</div>
			</div>

          	<%= form_for(@product,url:staffs_products_path) do |f| %>
          	<form class="form-horizontal" role="form">

          		<div class="container">
          			<div class="row">

          				<div class="col-xs-4">
							<%= attachment_image_tag(@product, :image, size:'200x200', fallback: "no_image.jpg") %>
							<%= f.attachment_field :image, class: "product_image" %>
						</div>

						<div class="col-xs-8">

							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-2">
									<%= f.label :name, '商品名', class: 'control-label' %>
								</div>
								<div class="col-xs-2">
									<%= f.text_field :name %>
								</div>
							</div>

							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-2">
									<%= f.label :explain, '商品説明', class: 'control-label' %>
								</div>
								<div class="col-xs-2">
									<%= f.text_area :explain %>
								</div>
							</div>

							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-2">
									<%= f.label :genre_id, 'ジャンル', class: 'control-label' %>
								</div>
								<div class="col-xs-2">
									<%= f.collection_select :genre_id, @genres, :id, :category_name, include_blank: "--選択して下さい--" %>
								</div>
							</div>

							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-2">
									<%= f.label :price, '税抜き価格', class: 'control-label' %>
								</div>
								<div class="col-xs-2">
									<%= f.text_field :price %>
								</div>
							</div>

							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-2">
									<%= f.label :sale_status, '販売ステータス', class: 'control-label' %>
								</div>
								<div class="col-xs-2">
									<%= f.select :sale_status,[["販売中", "1"], ["売切れ", "2"]], include_blank: "--選択して下さい--" %>
								</div>
							</div>

							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-2">
									<%= f.label :recommend_status, 'おすすめステータス', class: 'control-label' %>
								</div>
								<div class="col-xs-2">
									<%= f.select :recommend_status,[["おすすめ商品", "1"], ["普通", "2"]], include_blank: "--選択して下さい--" %>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
	    							<%= f.submit '新規登録', class: "btn btn-primary pull-right"%>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</form>
	    	<% end %>
		