<div class="container">
	<dix class="row">
		<div class="col-xs-5">

        <h2>商品新規登録</h2>

          <%= form_for(@product,url:staffs_products_path) do |f| %>

		    
			<%= attachment_image_tag(@product, :image, size:'200x200', fallback: "no_image.jpg") %>
			<%= f.attachment_field :image, class: "product_image" %>
		</div>
		<div class="col-xs-7">
			<table class="table">
				<tbody>
				    <tr>
						<td>
							<h4>商品名</h4>
							<%= f.text_field :name %>
						</td>
					</tr>
					<tr>
                 		<td>
							<h4>商品説明</h4>
							<%= f.text_area :explain %>
						</td>
					</tr>
					<td>
						<h4>ジャンル</h4>
						
						<%= f.collection_select :genre_id, @genres, :id, :category_name, include_blank: "選択して下さい" %>
						
					</td>
				
					<tr>
						<td>
							<h4>税抜き価格</h4>

							<%= f.text_field :price %>
						</td>
					</tr>
					<tr>
						<td>
							<h4>販売ステータス</h4>
							<%= f.select :sale_status,[["販売中", "1"], ["売切れ", "2"]], include_blank: "選択して下さい" %>
						</td>
					</tr>
				</tbody>
			</table>

		    <%= f.submit '新規登録', class: "btn-sm btn-success"%>

		    <% end %>
		</div>
	</dix>
</div>
