<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-1">
			<span style="display: block; margin-bottom: 30px; background-color: #cccccc; text-align: center;">
				<h3>登録情報編集</h3>
			</span>
		</div>
	</div>
</div>

<%= form_for(@customer,url:customers_update_customers_path) do |f| %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<div class="form-group">
			    <div class="field row">
			    	<%= f.label :name, "名前", class: "col-xs-3" %>
			      		<div class="col-xs-1 text-right">(姓)</div>
			      	<%= f.text_field :last_name, class: "col-xs-2" %>
			      		<div class="col-xs-1 text-right">(名)</div>
			      	<%= f.text_field :first_name, class: "col-xs-2" %>
			    </div>
		  	</div>

			<div class="form-group">
			    <div class="field row">
			    	<%= f.label :name_kana, "フリガナ", class: "col-xs-3" %>
			      		<div class="col-xs-1 text-right">(セイ)</div>
			      	<%= f.text_field :last_name_kana, class: "col-xs-2" %>
			      		<div class="col-xs-1 text-right">(メイ)</div>
			      	<%= f.text_field :first_name_kana, class: "col-xs-2" %>
			    </div>
		  	</div>

		  	<div class="form-group">
			    <div class="field row">
			    	<%= f.label :email, "メールアドレス", class: "col-xs-3" %>
			    	<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-2 col-xs-offset-1" %>
			    </div>
			</div>

			<div class="form-group">
			    <div class="field row">
			    	<%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-xs-3" %>
			    	<%= f.text_field :postal_code, class: "col-xs-2 col-xs-offset-1" %>
			    </div>
		  	</div>

		  	<div class="form-group">
			    <div class="field row">
			    	<%= f.label :address, "住所", class: "col-xs-3" %>
			    	<%= f.text_field :address, class: "col-xs-5 col-xs-offset-1" %>
			    </div>
			</div>

			<div class="form-group">
			    <div class="field row">
				    <%= f.label :tel, "電話番号(ハイフンなし)", class: "col-xs-3" %>
				    <%= f.text_field :tel, class: "col-xs-2 col-xs-offset-1" %>
			    </div>
			</div>

		    <div class="row", style="margin-top: 50px;">
		    	<div class="col-xs-6" style="display: flex; justify-content: space-between;">
	        		<%= f.submit '編集内容を保存する', class: "btn btn-primary"%>
		        	<div class="h" style="display: inline-block; margin-left: 40px;">
		        	<%= link_to '退会する', hide_customers_path, class: "btn btn-danger"%>
		        	</div>
	        	</div>
	    	</div>
	    </div>
	</div>
</div>
<% end %>