<div class="container">
  <div class="row">
    <span class="pull-left" style="background-color: #d3d3d3; font-size: 2.0em; margin-bottom: 10px;">注文情報確認
    </span>
  </div>
  <div class="row">
    <div class="col-xs-7">
      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @cart.each do |cart| %>
        <tbody>
          <tr>
            <td><%= cart.product.name %></td>
            <td><% addtax = cart.product.price * 1.1 %>
                <%= addtax.round %></td>
            <td><%= cart.vol %></td>
            <td><% subtotal = addtax * cart.vol %>
              <%= subtotal.round %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-xs-3 col-xs-offset-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="active">送料</th>
            <th>800円</th>
          </tr>
          <tr>
            <th class="active">商品合計</th>
            <th><%= session[:order]["total_price"] %>円</th>
          </tr>
          <tr>
            <th class="active">請求合計</th>
            <th><%= (session[:order]["total_price"]).to_i + 800 %>円</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <h3>支払方法</h3>
    <P><%= session[:order]["pay"] %></P>
  </div>
  <div class="row">
    <h3>お届け先</h3>
    <%= session[:order]["postcode_tosend"] %>
    <%= session[:order]["address_tosend"] %>
    <%= session[:order]["name_tosend"] %>
  </div>
<%= link_to "確定", orders_path, method: :post, class: "btn btn-danger" %>

  <%= link_to "入力画面に戻る", new_order_path, class: "btn btn-danger" %>
</div>
