<div class="container">
  <div class="row">
    <h3>ショッピングカート</h3>
    
    <%= link_to 'カートを空にする', destroy_all_cart_path(current_customer), method: :delete, class: "btn btn-danger" %>
    <table>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |cart| %>
          <tr>
            <td><%= cart.product.name %></td>
            <td><%= cart.product.price %></td>
            <td>
              <%= form_for(cart) do |f| %>
                <%= f.number_field :vol %>
                <%= f.submit "変更",class: "btn btn-primary" %>
              <% end %>
            </td>
            <td>￥　<%= cart.product.price * cart.vol %></td>
            <td>
              <%= link_to '削除する', cart_path(cart), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to '買い物を続ける', products_path, class: "btn btn-primary" %>
    <%= @total %>
  </div>
</div>