<div class="container staffs_orders_show_individual">
  <div class="row">
    <div class="col-xs-4 col-xs-offset_1">
      <span class="title_staffs_orders_show">
        <h3>注文履歴詳細</h3>
      </span>
    </div>
  </div>
</div>

<div class="container" style ="margin-bottom: 50px;">
	<div class="row">
		<div class="col-xs-3">
			<p><strong>購入者</strong></p>
		</div>
		<div class ="col-xs-9">
			<p><%= @order.customer.last_name + "　" + @order.customer.first_name%></p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<p><strong>配送先</strong></p>
		</div>
		<div class ="col-xs-9">
			<p>
				<%= "〒" + @order.postcode_tosend.insert(3, "-")+ "　" + @order.address_tosend %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<p><strong>支払い方法</strong></p>
		</div>
		<div class ="col-xs-9">
			<% if @order.pay == 0 %>
				<p>クレジットカード</p>
			<% else%>
				<p>銀行振込</p>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<p><strong>注文ステータス</strong></p>
		</div>
		<div class ="col-xs-9">
			<%= form_for(@order, url:update_for_orderstatus_individual_staffs_order_path) do |f| %>
				<%= f.select :order_status, Order.order_statuses.keys.to_a %>
				<%= f.submit "更新", class: "btn btn-xs btn-primary" %>
			<% end %>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-8" style ="margin-right: 30px;">
			<table class="table">
				<thread>
					<tr>
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th>制作ステータス</th>
					</tr>
				</thread>
				<tbody>
					<% @order.details.each do |order_detail|%>
					<tr>
						<td><%= order_detail.product.name %></td>
						<td><%= order_detail.product.price %></td>
						<td><%= order_detail.product_vol %></td>
						<td><%= order_detail.product.price * order_detail.product_vol %></td>
						<td>
							<%= form_for(order_detail, url:update_for_productionstatus_individual_staffs_detail_path(order_detail.id)) do |f| %>
								<%= f.select :production_status, Detail.production_statuses.keys.to_a %>
								<%= f.submit "更新", class: "btn btn-xs btn-primary" %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class ="col-xs-3">
			<div class="row">
				<div class="col-xs-8">
						<p><strong>商品合計</strong></p>
				</div>
				<div class="col-xs-4">
					<% @total_price = 0 %>
					<% @order.details.each do |order_detail|%>
						<% @total_price += order_detail.product.price * order_detail.product_vol %>
					<% end %>
					<p class="text-right"><%= @total_price %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<p><strong>送料</strong></p>
				</div>
				<div class="col-xs-4">
					<p class="text-right"><%= @order.send_fee %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<p><strong>請求金額合計</strong></p>
				</div>
				<div class="col-xs-4">
					<p class="text-right"><%= @total_price + @order.send_fee.to_i %></p>
				</div>
			</div>
		</div>
	</div>
</div>

