<div class="container">
	<dix class="row">
		<div class="col-xs-8 col-xs-offset-2">

			<span class="pull-left" style="background-color: #C0C0C0; font-size: 1.5em; margin-bottom: 40px;">
				<%= @customer.last_name %>
				<%= @customer.first_name %>さんの会員詳細</span>

			<table class="table">
				<tbody>
					<tr>
						<td>
							<h4>顧客ID</h4>
							
							<th>
								<%= @customer.id %>
							</th>
							<th>
								<% if @customer.customer_status == false %>
								  <span style="display: block; border: solid 3px #00000; ">有効会員</span>
								<% else %>
								   <span>退会済</span>
								<% end %>
							</th>

						</td>
					</tr>
					<tr>
						<th>
							<h4>氏名</h4>
						</th>
						<th>
							<%= @customer.last_name %>
							<%= @customer.first_name %>
						</th>
					</tr>
					<tr>
						<th>
							<h4>フリガナ</h4>
						</th>
						<th>
							<%= @customer.last_name_kana %>
							<%= @customer.first_name_kana %>
						</th>
					</tr>
					<tr>
						<th>
							<h4>郵便番号</h4>
						</th>
						<th>
							<%= @customer.postal_code %>
						</th>
					</tr>
					<tr>
						<th>
							<h4>住所</h4>
						</th>
						<th>
							<%= @customer.address %>
						</th>
					</tr>
					<tr>
						<th>
							<h4>電話番号</h4>
						</th>
						<th>
							<%= @customer.tel %>
						</th>
					</tr>
					<tr>
						<th>
							<h4>メールアドレス</h4>
						</th>
						<th>
							<%= @customer.email %>
						</th>
					</tr>
				</tbody>
			</table>

			<%= link_to '編集する', edit_staffs_customer_path(@customer), class: "btn-sm btn-primary", data: {"turbolinks" => false} %>

			<%= link_to '注文履歴一覧を見る', root_path, class: "btn-sm btn-primary", data: {"turbolinks" => false} %>
			
			
		</div>
	</dix>
</div>
