<div class="container">

  <%= render 'layouts/errors', model: @destination %>

	<div class="row">
    	<div class="col-xs-4 col-xs-offset-1">
    		<h3>配送先編集</h3>
    	</div>
	</div>
</div>

<div class="container">
<%= form_for(@destination) do |f| %>
		<div class="form-group">
			<div class="field row">
	    		<%= f.label :postcode_tosend, "郵便番号(ハイフンなし)", class: "col-xs-3" %>
	    		<%= f.text_field :postcode_tosend, class: "col-xs-4" %>
    		</div>
    	</div>

    	<div class="form-group">
	    	<div class="field row">
	    		<%= f.label :address_tosend, "住所", class: "col-xs-3" %>
	    		<%= f.text_field :address_tosend, class: "col-xs-7" %>
	    	</div>
	    </div>

	    <div class="form-group">
	    	<div class="field row">
	    		<%= f.label :name_tosend, "宛名", class: "col-xs-3" %>
	    		<%= f.text_field :name_tosend, class: "col-xs-4" %>
	    	</div>
	    </div>

    	<div class="actions row">
    		<%= f.submit :編集する, class: "btn btn-primary col-xs-2 col-xs-offset-9" %>
    </div>

<% end %>