<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'list', genres: @genres %>
    </div>

    <div class="col-xs-9">
      <h2>商品詳細</h2>

      <div class="row">
        <div class="col-xs-6">
          <%= attachment_image_tag @product, :image, fallback: "no_image.jpg", size: "400x200" %>
        </div>

        <div class="col-xs-6">
          <div class="row">
            <h3><%= @product.name %></h3>
            <p><%= @product.explain %></p>
          </div>

          <div class="hide">
            <h3>￥<%= @product.price %>（税込）</h3>
          </div>

          <div class="row">
            <%= form_for(@cart, url:carts_path) do |f| %>
            <%= f.select :vol, [["1",1],["2",2],["3",3],["4",4],["5",5]], prompt: "個数選択" %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.submit %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>