<li class="header.name">ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！</li>
<li><%= link_to ' マイページ', customers_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' 商品一覧', products_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' カート', carts_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class:"btn btn-default btn-sm allbtn" %></li>