<li><%= link_to ' 商品一覧', staffs_products_path %></li>
<li><%= link_to ' 会員一覧', "" %></li>
<li><%= link_to ' 注文履歴一覧', "" %></li>
<li><%= link_to ' ジャンル一覧', staffs_genres_path %></li>
<li><%= link_to ' ログアウト', destroy_staff_session_path, method: :delete %></li>

<div class="col-xs-4 col-xs-offset-8">
<form class="form-inline my-2 my-xs-0">
<input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="検索">
<button type="submit" class="btn btn-outline-success my-2 my-sm-0">
	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>
</form>
</div>

