
<li><%= link_to ' 商品一覧', staffs_products_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' 会員一覧', staffs_customers_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' 注文履歴一覧', staffs_orders_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' ジャンル一覧', staffs_genres_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' ログアウト', destroy_staff_session_path, method: :delete, class:"btn btn-default btn-sm allbtn" %></li>


<div class = "row" style="margin-top: 80px;" >
	<div class="col-xs-8 col-xs-offset-6">
		<%= form_tag("#", :method => 'get') do %>
	
	    		<%= text_field_tag :search, "", placeholder: "Search", class: "search_input" %>
	    		<%= button_tag '', :type => "submit", class: "submit_btn" do %>
	  				<i class="glyphicon glyphicon-search"></i>
				<% end %>
		<% end %>
	</div>
</div>


