
<li><%= link_to ' 商品一覧', staffs_products_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' 会員一覧', staffs_customers_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' 注文履歴一覧', staffs_orders_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' ジャンル一覧', staffs_genres_path, class:"btn btn-default btn-sm allbtn" %></li>
<li><%= link_to ' ログアウト', destroy_staff_session_path, method: :delete, class:"btn btn-default btn-sm allbtn" %></li>


<div class = "row" style="margin-top: 20px;" >
	<div class="col-xs-12  search">
		<%= form_tag(staffs_searchs_search_path, :method => 'get', class: "navbar-form  navbar-right") do %>
			<div class="form-group">
	    		<%= text_field_tag :search, "", placeholder: "Search", class: "form-control" %>
	    	</div>

	    	<%= button_tag '', :type => "submit", class: "submit_btn" do %>
	  			<span class="glyphicon glyphicon-search"></span>
			<% end %>
		<% end %>
	</div>
</div>

